{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Registrovat se</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label>Uživatelské jméno</label>
        {{form.username}}

        <label>Heslo</label>
        {{form.password1}}

        <label>Heslo znovu</label>
        {{form.password2}}
        <input style="margin-top:10px ;" class="button" type="submit" value="Registrovat se">
    </form>
    <p>Jste již zaregistrovaní? <a href="{% url 'login' %}">Přihlásit se</a></p>
</div>




{% endblock content %}